body * {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
}

header {
    padding: 3vh;
    background: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 250px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 3vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.restaurant-card {
    color: rgb(83, 83, 83);
    border: 1px solid gray;
    width: 30%;
    border-radius: 1rem;
    margin: 1rem;
}

.image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: 20% 10%;
}

.desc {
    margin-left: 1rem;
}

.ratings {
    margin-left: 1rem;
}

a {
    text-decoration: none;
    color: rgb(77, 120, 212);
}

.fas {
    margin-right: 0.5rem;
}


@media only screen and (max-width: 1000px) {
    /* Media queries go here */

}

@media only screen and (max-width: 600px) {
    /* Media queries go here */
}