body * {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    background: #bcd9ff;

}

main {
    display: flex;
    flex-direction: row;
}

img {
    width: 100%;
    height: auto;
}
iframe {
    width: 100%;
    height: auto;
}

h2 {
    margin-left: 1rem;
}

p {
    margin-left: 1rem;
}

button {
    margin-left: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background: white;
}

/*
Add some style blocks below this line to style the card.
*/

section {
    border: 1px solid #c2c0c0;
    width: 20rem;
    padding-bottom: 0.5rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background: #e7f3ff;
}


/* Tablet Media Query */
@media only screen and (max-width: 1000px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
    }

    
}